@model List<videoGame>
@{
    ViewBag.Title = "My Video Games";
}
<!--
Author Dustin Gregerson
Date 10/15/2023
Description:
Gets the list of all the video games in the data base table and displays them in the browser.
Each record is accompanied by two buttons one to update and one to delete the record.
At the bottom of the page is a add button to add a new game to the database.


-->
<table class="table table-sm table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Favorite Character</th>
            <th scope="col">Would Play Again</th>
            <th scope="col">Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var videoGame in Model)
        {
                
                    if(videoGame.wouldPlayAgain==null)
                    {
                    <tr scope="row" class="table-warning">
                        <td>@videoGame.name</td>
                        <td>@videoGame.favoriteCharacter</td>
                        <td>Maybe</td>
                        <td>
                        <input type="button" class="btn btn-light btn-outline-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "VideoGame")/@videoGame.videoGameId'" />
                        <input type="button" class="btn btn-light btn-outline-info" value="Update" onclick="location.href='@Url.Action("Edit", "VideoGame")/@videoGame.videoGameId'" />
                        </td>
                    </tr>
                    }
                    else if (videoGame.wouldPlayAgain == true)
                    {
                    <tr scope="row" class="table-success">
                        <td>@videoGame.name</td>
                        <td>@videoGame.favoriteCharacter</td>
                        <td>Yes</td>
                        <td>
                        <input type="button" class="btn btn-light btn-outline-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "VideoGame")/@videoGame.videoGameId'" />
                        <input type="button" class="btn btn-light btn-outline-info" value="Update" onclick="location.href='@Url.Action("Edit", "VideoGame")/@videoGame.videoGameId'" />
                        </td>
                    </tr>
                    }
                    else
                    {
                    <tr scope="row" class="table-danger">
                        <td>@videoGame.name</td>
                        <td>@videoGame.favoriteCharacter</td>
                        <td>No</td>
                        <td>
                        <input type="button" class="btn btn-light btn-outline-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "VideoGame")/@videoGame.videoGameId'" />
                        <input type="button" class="btn btn-light btn-outline-info" value="Update" onclick="location.href='@Url.Action("Edit", "VideoGame")/@videoGame.videoGameId'" />
                        </td>
                    </tr>
                    }
                }
                <tr scope="row" class="table-info">
                    <td colspan="4">
                        <input type="button" class="btn  btn-light btn-outline-success" value="Add" onclick="location.href='@Url.Action("Add", "VideoGame")'" />
                    </td>
                </tr>
    </tbody>

</table>

